<div class="filters">
    <mat-form-field>
        <mat-label>Sort</mat-label>
        <mat-select 
        panelClass="sort-select"
        [(ngModel)]="sort"
        >
        <mat-option value="name">Name</mat-option>
        <mat-option value="-released">Released</mat-option>
        <mat-option value=""></mat-option>
        <mat-option value="name"></mat-option>
        <mat-option value="name"></mat-option>
        <mat-option value="name"></mat-option>
        <mat-option value="name"></mat-option>
        </mat-select>
    </mat-form-field>
</div>